<template>
  <form class="details-form padded-container">
    <select
      class="details-form--input"
      name="Title"
      type="text"
      v-model="profile.Title"
    >
      <option
        disabled
        selected
        value=""
      >Title</option>
      <option
        v-for="option in titleOptions"
        :key="option"
        :value="option"
      >{{ option }}</option>
    </select>
    <input
      required
      class="details-form--input"
      name="First Name"
      placeholder="First Name*"
      type="text"
      v-model="profile.FirstName"
    >
    <input
      required
      class="details-form--input"
      name="Last Name"
      placeholder="Last Name*"
      type="text"
      v-model="profile.LastName"
    >
    <input
      required
      class="details-form--input"
      name="Email Address"
      placeholder="Email Address*"
      type="email"
      v-model="profile.Email"
    >
    <input
      required
      class="details-form--input"
      name="Telephone Number"
      placeholder="Telephone Number*"
      type="tel"
      v-model="profile.Telephone"
    >
    <input
      required
      class="details-form--input"
      name="House Number/Name"
      placeholder="House Number/Name*"
      type="text"
      v-model="profile.HouseNumber"
    >
    <input
      required
      class="details-form--input"
      name="Street"
      placeholder="Street*"
      type="text"
      v-model="profile.Street"
    >
    <input
      required
      class="details-form--input"
      name="Town"
      placeholder="Town*"
      type="text"
      v-model="profile.Town"
    >
    <input
      required
      class="details-form--input"
      name="Postcode"
      placeholder="Postcode*"
      type="text"
      v-model="profile.Postcode"
    >
  </form>
</template>

<script>
import { mapMutations } from 'vuex';

export default {
  name: 'DetailsForm',
  data() {
    return {
      profile: {
        Title: '',
        FirstName: '',
        LastName: '',
        Email: '',
        Telephone: '',
        HouseNumber: '',
        Street: '',
        Town: '',
        Postcode: '',
      },
      titleOptions: [
        'Mr',
        'Mrs',
        'Miss',
        'Ms',
        'Dr',
        'Other',
      ],
    };
  },
  methods: {
    ...mapMutations('app', ['previousStep', 'completeStep']),
    ...mapMutations('user', ['updateProfile']),
  },
  watch: {
    profile: {
      handler() {
        this.updateProfile(this.profile);
      },
      deep: true,
    },
  },
};
</script>

<style lang="scss" scoped>
@import '../../scss/variables.scss';
@import '../../scss/mixins.scss';

.details-form {

  &--input {
    display: block;
    width: 100%;

    + .details-form--input {
      margin-top: 15px;
    }
  }
}

@include breakpoint-min(sm) {

  .details-form {

    &--input {
      max-width: 500px;

      + .details-form--input {
        margin-top: 30px;
      }
    }
  }
}
</style>
