<template>
  <div class="details-container">
    <DetailsForm/>

    <div
      class="details-container--errors color--danger"
      v-if="errors.length"
    >
      The following errors occurred:
      <ul>
        <li
          class="details-container--error"
          v-for="error in errors"
          :key="error"
        >
          {{ error }}
        </li>
      </ul>
    </div>
    <div class="button-container">
      <button
        class="button button--secondary"
        @click="previousStep('PersonalDetails')"
      >Back to Date Selection</button>
      <button
        class="button"
        @click="checkProfileData"
      >Next</button>
    </div>
  </div>
</template>

<script>
import { mapMutations, mapGetters, mapState } from 'vuex';
import DetailsForm from '@/components/details/DetailsForm';

export default {
  name: 'DetailsContainer',
  components: {
    DetailsForm,
  },
  data() {
    return {
      errors: [],
    };
  },
  methods: {
    ...mapMutations('app', ['previousStep', 'completeStep']),
    checkProfileData() {
      if (!this.formFilled) {
        this.errors = ['Please complete all form fields marked with a *'];
        return;
      }

      if (this.profileErrors.length) {
        this.errors = this.profileErrors.map(error => `Please enter a valid ${error}`);
        return;
      }

      this.errors = [];
      this.completeStep({
        stepName: 'PersonalDetails',
        data: [
          'Your Details',
          `${this.fullName} - ${this.fullAddress}`,
        ],
      });
    },
  },
  computed: {
    ...mapGetters('user', ['profileErrors']),
    ...mapState('user', ['profile']),
    formFilled() {
      return Object.keys(this.profile).every(prop => !!this.profile[prop].value);
    },
    fullName() {
      return `${this.profile.Title.value} ${this.profile.FirstName.value} ${this.profile.LastName.value}`;
    },
    fullAddress() {
      return `${this.profile.HouseNumber.value} ${this.profile.Street.value}, ${this.profile.Town.value}, ${this.profile.Postcode.value}`;
    },
  },
};
</script>

<style lang="scss" scoped>
.details-container {

  &--errors {
    margin-top: 10px;
    font-weight: bold;
  }
}
</style>
