<template>
  <div class="vehicle-details padded-container">
    <h3 class="vehicle-details--title title">{{ vehicleName }}</h3>
    <ul class="vehicle-details--list">
      <li
        class="vehicle-details--item background--light-grey"
        v-for="detail in relevantDetails"
        v-if="vehicle[detail.property]"
        :key="detail.property"
      >
        <span class="vehicle-details--item_label">{{ detail.value }}</span>
        <span class="vehicle-details--item_value">{{ vehicle[detail.property] }}</span>
      </li>
    </ul>
    <div class="button-container">
      <div
        class="vehicle-details--button link"
        @click="clearVehicles"
      >Return to Vehicle Search</div>
      <button
        class="vehicle-details--button button"
        @click="completeStep({ stepName: 'VehicleSearch', data: stepSummary })"
      >Next
      </button>
    </div>
  </div>
</template>

<script>
import { mapMutations } from 'vuex';

export default {
  name: 'VehicleDetails',
  props: {
    vehicle: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      relevantDetails: [
        {
          property: 'RegoNo',
          value: 'Registration Number',
        },
        {
          property: 'YearOfCompliance',
          value: 'Year',
        },
        {
          property: 'EngineSize',
          value: 'Engine Size',
        },
        {
          property: 'Transmission',
          value: 'Transmission',
        },
        {
          property: 'Colour',
          value: 'Colour',
        },
      ],
    };
  },
  methods: {
    ...mapMutations('app', ['completeStep']),
    ...mapMutations('vehicles', ['clearVehicles']),
  },
  computed: {
    vehicleName() {
      if (!Object.keys(this.vehicle).length) return '';
      return `${this.vehicle.Make} ${this.vehicle.Model}`;
    },
    stepSummary() {
      return [
        this.vehicleName,
        `Registration: ${this.vehicle.RegoNo}`,
      ];
    },
  },
};
</script>

<style scoped lang="scss">
@import "../../scss/variables.scss";
@import "../../scss/mixins.scss";

.vehicle-details {
  flex: 1;
  border: none;

  &--title {
    margin-bottom: 15px;
  }

  &--list {
    list-style-type: none;
    margin: 0 0 25px;
    padding: 0;
  }

  &--item {
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    font-size: 14px;

    &:nth-child(even) {
      background: $widget--background;
    }

    &_label {
      font-weight: bold;
    }
  }
}

@include breakpoint-min(sm) {

  .vehicle-details {

    &--title {
      margin-bottom: 30px;
    }

    &--list {
      margin-bottom: 55px;
    }
  }
}
</style>
