<template>
  <div class="container">
    <VehicleSearch
      v-if="!allVehicles || !allVehicles.length"
    />
    <VehicleDetails
      v-else
      :vehicle="firstVehicle"
    />
    <div class="container--image">
      <component
        class="color--primary"
        :is="'VehicleSearchIcon'"
        alt="Search for a vehicle"
      >
      </component>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex';
import VehicleSearch from '@/components/vehicle/VehicleSearch';
import VehicleDetails from '@/components/vehicle/VehicleDetails';
import VehicleSearchIcon from '@/assets/images/vehicle-search.svg';

export default {
  name: 'VehicleContainer',
  components: {
    VehicleSearch,
    VehicleDetails,
    VehicleSearchIcon,
  },
  computed: {
    ...mapState('vehicles', ['allVehicles']),
    firstVehicle() {
      return this.allVehicles[0] || {};
    },
  },
};
</script>

<style lang="scss" scoped>
@import "../../scss/mixins.scss";
@import "../../scss/variables.scss";

.container {
  display: flex;
  border: 1px solid  $color--light-grey;

  &--image {
    display: none;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 30%;
    border-left: 1px solid  $color--light-grey;
  }
}

@include breakpoint-min(md) {

  .container {

    &--image {
      display: block;
    }
  }
}
</style>
