<template>
  <div class="vehicle-search">
    <form
      class="vehicle-search--form"
      @submit.prevent="findVehicle"
    >
      <div class="vehicle-search--radios">
        <label
          for="rego"
          class="checkbox"
        >
          Registration Number
          <input
            class="checkbox--input"
            id="rego"
            name="rego"
            type="radio"
            value="Registration"
            v-model="selectedSearch"
          >
          <span class="checkbox--overlay widget--background">
            <div class="checkbox--overlay_pip color--primary"></div>
          </span>
        </label>
        <label
          class="checkbox"
          for="vin"
        >
          VIN Number
          <input
            class="checkbox--input"
            id="vin"
            name="rego"
            type="radio"
            value="VIN"
            v-model="selectedSearch"
          >
          <span class="checkbox--overlay">
            <div class="checkbox--overlay_pip color--primary"></div>
          </span>
        </label>
      </div>
      <div
        class="vehicle-search--error color--danger"
        v-if="errorMessage"
      >{{ errorMessage }}</div>
      <input
        class="vehicle-search--input"
        type="text"
        :placeholder="`${selectedSearch} Number`"
        v-model="inputData"
      />
      <button
        class="vehicle-search--button button"
        :disabled="isLoading"
        tabindex="0"
      >Find my Vehicle</button>
    </form>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex';

export default {
  name: 'VehicleSearch',
  data() {
    return {
      selectedSearch: 'Registration',
      inputData: '',
      errorMessage: '',
      regex: {
        Registration: new RegExp(/^( ?[a-zA-Z0-9]){1,9}$/i),
        VIN: new RegExp(/^[a-hj-npr-z0-9]{17}$/i),
      },
    };
  },
  methods: {
    ...mapActions('vehicles', ['getVehicles']),
    isValidInput() {
      return this.regex[this.selectedSearch].test(this.inputData);
    },
    findVehicle() {
      if (!this.isValidInput()) {
        this.errorMessage = `Please enter a valid ${this.selectedSearch}`;
        return;
      }
      const payload = {
        vin: this.selectedSearch === 'VIN' ? this.inputData : false,
        rego: this.selectedSearch === 'Registration' ? this.inputData : false,
      };
      this.getVehicles(payload)
        .then((vehicles) => {
          if (!vehicles.length) {
            this.errorMessage = `No vehicles found, please try a different ${this.selectedSearch}`;
          } else {
            this.errorMessage = '';
          }
        })
        .catch(() => {
          this.errorMessage = `No vehicles found, please try a different ${this.selectedSearch}`;
        });
    },
  },
  computed: {
    ...mapState('app', ['isLoading']),
  },
};
</script>

<style scoped lang="scss">
@import "../../scss/variables.scss";
@import "../../scss/mixins.scss";

.vehicle-search {
  flex: 1;
  padding: $widget--padding;

  &--radios {
    margin-bottom: $widget--padding;
  }

  &--input {
    display: block;
    text-transform: uppercase;
    width: 100%;
    max-width: 290px;
  }

  &--error {
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 14px;
  }

  &--button {
    margin-top: 10px;
    width: 100%;
    max-width: 290px;
  }

  &--title {
    margin-bottom: 30px;
    line-height: 1;
    font-weight: bold;
    font-size: 28px;
  }
}

@include breakpoint-min(sm) {

  .vehicle-search {
    padding: $widget--padding_sm;

    &--radios {
      margin-bottom: $widget--padding;
    }
  }
}

.checkbox {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 35px;
  height: 25px;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;

  + .checkbox {
    margin-top: $widget--padding
  }

  &:hover & {

    &--input ~ .checkbox--overlay .checkbox--overlay_pip {
      opacity: 1;
    }
  }

  &--input {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    width: 25px;
    height: 25px;
    cursor: pointer;
    opacity: 0;

    &:focus ~ .checkbox--overlay {
      outline: 2px solid Highlight;

      @media (-webkit-min-device-pixel-ratio: 0) {
        outline-color: -webkit-focus-ring-color;
        outline-style: auto;
      }
    }

    &:checked ~ .checkbox--overlay .checkbox--overlay_pip {
      opacity: 1;
      background: currentColor;
    }
  }

  &--overlay {
    pointer-events: none;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    border: 1px solid #000;
    border-radius: 50%;

    &_pip {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 13px;
      height: 13px;
      border-radius: 50%;
      opacity: 0;
      background: darken( $color--light-grey, 15%);
      transition: all 0.3s;
    }
  }
}

@include breakpoint-min(sm) {

  .checkbox {
    display: inline-flex;

    + .checkbox {
      margin: 0 0 0 $widget--padding_sm;
    }
  }
}
</style>
