<template>
  <div class="complete-section">
    <div class="complete-section--header title">
      <div>Thank you.</div>
      <div>Your service is booked.</div>
    </div>
    <div class="complete-section--reference">Your reference number is {{ referenceNumber }}</div>
    <div class="button-container">
      <button
        class="button"
        @click="reloadWindow"
      >Book Another Service</button>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex';

export default {
  name: 'CompleteContainer',
  computed: {
    ...mapState('workshops', ['referenceNumber']),
  },
  methods: {
    reloadWindow() {
      location.reload();
    },
  },
};
</script>

<style lang="scss" scoped>
@import '../../scss/variables.scss';
@import '../../scss/mixins.scss';

.complete-section {
  padding: $widget--padding;

  &--header {
    margin-bottom: 15px;
  }
}

@include breakpoint-min(sm) {

  .complete-section {
    padding: $widget--padding-sm;
  }
}
</style>
