<template>
  <div
    class="container"
  >
    <div class="service-options">
      <ServiceOption
        v-for="option in serviceOptions"
        :key="option.name"
        :option="option"
      />
    </div>
    <div class="service-description">
      <div class="service-description--title">
        Please give a description of the service work you require (optional)
      </div>
      <textarea
        class="service-description--textarea"
        @change="updateServiceComment(serviceComments)"
        v-model="serviceComments"
      ></textarea>
      <div
        class="service-options--error color--danger"
        v-if="error"
      >{{ error }}</div>
    </div>
    <div class="button-container">
      <button
        class="button button--secondary"
        @click="previousStep('ServiceSelect')"
      >Back to Vehicle Search</button>
      <button
        class="button"
        @click="checkStepState"
      >Next</button>
    </div>
  </div>
</template>

<script>
import { mapState, mapMutations, mapGetters, mapActions } from 'vuex';
import ServiceOption from '@/components/service/ServiceOption';

export default {
  name: 'ServiceContainer',
  components: {
    ServiceOption,
  },
  data() {
    return {
      error: false,
      serviceComments: '',
    };
  },
  methods: {
    ...mapMutations('app', ['previousStep', 'completeStep']),
    ...mapActions('workshops', ['getWorkshops']),
    ...mapMutations('services', ['updateServiceComment']),
    checkStepState() {
      if (!this.selectedServices.length) {
        this.error = 'Please select at least one service item.';
        return;
      }
      this.getWorkshops()
        .then(() => {
          this.error = '';
          this.completeStep({
            stepName: 'ServiceSelect',
            data: [
              'Services Selected',
              this.selectedServices.join(', '),
            ],
          });
        })
        .catch(() => {
          this.error = 'An error occurred. Please try again.';
        });
    },
    splitNewLines(str) {
      return str.split(/\r\n|\r|\n/);
    },
  },
  computed: {
    ...mapState('services', ['serviceOptions', 'selectedServices']),
    ...mapGetters('app', ['currentStep']),
  },
};
</script>

<style lang="scss" scoped>
@import '../../scss/variables.scss';
@import '../../scss/mixins.scss';

.service {

  &-options {
    display: flex;
    flex-wrap: wrap;

    &--error {
      font-weight: bold;
    }
  }

  &-description {
    margin-top: $widget--padding;

    &--title {
      margin-bottom: 15px;
    }

    &--textarea {
      box-sizing: border-box;
      resize: vertical;
      padding: 10px;
      min-height: 140px;
      width: 100%;
      border-color: $color--light-grey;
      font-family: $font-family;
      font-size: 14px;
    }
  }
}

@include breakpoint-min(sm) {

  .service {

    &-options {
      margin: 0 -16px;
    }

    &-description {
      margin-top: $widget--padding_sm;
    }
  }
}
</style>
