<template>
  <div
    class="service-option"
    :class="{
      active,
      'color--light-grey': !active && !hovered,
      'color--primary': active || hovered,
    }"
  >
    <div
      class="service-option--inner"
      tabindex="0"
      @mouseover="hovered = true"
      @mouseout="hovered = false"
      @click="toggleActive"
      @keyup.enter="toggleActive"
    >
      <div class="service-option--icon">
        <component
          class="service-option--icon_svg color--primary"
          :is="option.icon"
        >
        </component>
      </div>
      <div class="service-option--content">
        <div class="service-option--title color--text">{{ option.name }}</div>
        <div
          class="service-option--checkbox"
        >
          <div class="service-option--checkbox_tick color--primary"></div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapMutations } from 'vuex';
import BrakePadIcon from '@/assets/images/service-options/brake-pad.svg';
import OilFilterIcon from '@/assets/images/service-options/oil-filter.svg';
import ServiceIcon from '@/assets/images/service-options/service.svg';
import WiperIcon from '@/assets/images/service-options/wiper.svg';
import WipersPairIcon from '@/assets/images/service-options/wipers-pair.svg';

export default {
  name: 'ServiceOption',
  components: {
    BrakePadIcon,
    OilFilterIcon,
    ServiceIcon,
    WiperIcon,
    WipersPairIcon,
  },
  props: {
    option: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      active: false,
      hovered: false,
    };
  },
  methods: {
    ...mapMutations('services', ['toggleService']),
    toggleActive() {
      this.active = !this.active;
      this.toggleService(this.option.name);
    },
  },
};
</script>

<style lang="scss" scoped>
@import '../../scss/variables.scss';
@import "../../scss/mixins.scss";

.service-option {
  box-sizing: border-box;
  flex: 0 0 100%;
  margin-bottom: $widget--padding;

  &--inner {
    display: flex;
    cursor: pointer;
    height: 60px;
    box-shadow: inset 1px 1px 0px 0px currentColor,
                inset -1px -1px 0px 0px currentColor;
    transition: all .3s;
  }

  &:hover &,
  &.active & {

    &--inner {
      box-shadow: inset 2px 2px 0px 0px currentColor,
                  inset -2px -2px 0px 0px currentColor;
    }

    &--checkbox {
      box-shadow: inset 2px 2px 0px 0px currentColor,
                  inset -2px -2px 0px 0px currentColor;
    }

    &--icon {
      box-shadow: inset -2px 0px 0px 0px currentColor;
    }
  }

  &.active & {

    &--checkbox {

      &_tick {
        opacity: 1;
      }
    }
  }

  &--icon {
    display: flex;
    align-items: center;
    box-shadow: inset -1px 0px 0px 0px currentColor;
    width: 60px;

    &_svg {
      width: 100%;
    }
  }

  &--title {
    font-weight: bold;
  }

  &--content {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
  }

  &--checkbox {
    position: relative;
    margin-left: 10px;
    flex: 0 0 40px;
    width: 40px;
    height: 40px;
    box-shadow: inset 2px 2px 0px 0px currentColor,
                inset -2px -2px 0px 0px currentColor;

    &_tick {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -64%) rotate(45deg);
      content: '';
      box-sizing: border-box;
      width: 10px;
      height: 19px;
      border-style: solid;
      border-width: 0 3px 3px 0;
      border-color: currentColor;
      opacity: 0;
      transition: all .3s;
    }
  }
}

@include breakpoint-min(sm) {

  .service-option {
    margin-bottom: $widget--padding_sm;
    padding: 0 16px;
    flex: 0 0 50%;

    &--inner {
      height: 100px;
    }

    &--icon {
      width: 100px;
    }

    &--content {
      padding: 0 30px;
    }
  }
}
</style>
