<template>
  <div class="confirmation-details padded-container">
    <div class="confirmation-details--title title">{{ vehicleName }}</div>
    <ul class="confirmation-details--list">
      <li
        class="confirmation-details--item"
        v-for="field in confirmationData"
        :key="field.title"
      >
        <span class="confirmation-details--item_label">{{ field.title }}</span>
        <span class="confirmation-details--item_value">{{ field.value }}</span>
      </li>
    </ul>
  </div>
</template>

<script>
import { mapState } from 'vuex';
import dateFormatted from '@/functions/dateFormatted';

export default {
  name: 'ConfirmationDetails',
  computed: {
    ...mapState('vehicles', ['allVehicles']),
    ...mapState('services', ['selectedServices', 'serviceDate', 'serviceComments']),
    vehicleName() {
      return this.allVehicles.length ? `${this.allVehicles[0].Make} ${this.allVehicles[0].Model}` : '';
    },
    confirmationData() {
      if (
        !this.allVehicles.length ||
        !this.selectedServices.length ||
        !this.serviceDate
      ) return [];
      return [
        {
          title: 'Registration Number',
          value: this.allVehicles[0].RegoNo,
        },
        {
          title: 'Service Date',
          value: dateFormatted('D dsu of MMM', new Date(this.serviceDate)),
        },
        {
          title: 'Service Time',
          value: 'Your dealer will contact you to arrange drop-off time',
        },
        {
          title: 'Services Selected',
          value: this.selectedServices.join(', '),
        },
        {
          title: 'Notes',
          value: this.serviceComments ? this.serviceComments : 'N/A',
        },
      ];
    },
  },
};
</script>

<style lang="scss" scoped>
@import '../../scss/variables.scss';
@import '../../scss/mixins.scss';

.confirmation-details {

  &--title {
    text-transform: none;
  }

  &--list {
    margin: $widget--padding 0 0;
    padding: 0;
  }

  &--item {
    display: flex;
    padding: 10px 15px;
    font-size: 14px;

    &:nth-child(odd) {
      background: $color--light-grey;
    }

    &_label {
      font-weight: bold;
    }
  }
}

@include breakpoint-max(sm) {
  .confirmation-details {

    &--item {
      flex-direction: column;

      &_label {
        margin-bottom: 5px;
      }
    }
  }
}

@include breakpoint-min(sm) {
  .confirmation-details {

    &--list {
      margin-top: $widget--padding_sm;
    }

    &--item {
      padding: 0 15px;
      justify-content: space-between;
      line-height: 30px;

      &_label {
        min-width: 150px;
      }

      &_value {
        text-align: right;
      }
    }
  }
}
</style>
