<template>
  <div class="confirmation-container">
    <ConfirmationDetails/>
    <div
      class="confirmation-container--error color--danger bold"
      v-if="error"
    >Whoops! Something went wrong. Please try again, or contact your dealer.</div>
    <div class="button-container">
      <button
        class="confirmation-container--button button"
        @click="completeBooking"
      >Book service now</button>
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex';
import ConfirmationDetails from '@/components/confirmation/ConfirmationDetails';

export default {
  name: 'ConfirmationContainer',
  components: {
    ConfirmationDetails,
  },
  data() {
    return {
      error: false,
    };
  },
  methods: {
    completeBooking() {
      this.postRepairOrder()
        .then(() => {
          this.error = false;
        })
        .catch(() => {
          this.error = true;
        });
    },
    ...mapActions('workshops', ['postRepairOrder']),
  },
};
</script>

<style lang="scss" scoped>
@import '@/scss/_variables.scss';

.confirmation-container {

  &--button {
    text-transform: uppercase;
    font-size: 16px;
    max-width: none;
    width: 100%;
  }

  &--error {
    margin-top: $widget--padding;
  }
}
</style>
