<template>
  <transition name="fade">
    <div
      class="loading"
      v-if="isLoading"
    >
      <div class="loading--spinner color--primary"></div>
      <div class="loading--background"></div>
    </div>
  </transition>
</template>

<script>
import { mapState } from 'vuex';

export default {
  name: 'LoadingSpinner',
  computed: {
    ...mapState('app', ['isLoading']),
  },
};
</script>

<style lang="scss" scoped>
@import '../scss/variables.scss';
@import '../scss/mixins.scss';

.fade-enter-active,
.fade-leave-active {
  transition: opacity .5s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.loading {

  &--background {
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(#000, .2);
  }

  &--spinner {
    position: absolute;
    z-index: 101;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: .85;
    box-sizing: border-box;
    background-clip: padding-box;
    border-radius: 25px;
    width: 40px;
    height: 40px;
    border-radius: 100%;

    &:before {
      content: '';
      position: absolute;
      margin: -5px;
      box-sizing: inherit;
      width: inherit;
      height: inherit;
      border-radius: inherit;
      opacity: 1;
      border: 5px solid currentColor;
      border-top-color: transparent;
      animation: spinner-spin 1.1s cubic-bezier(.6,.2,0,.8) infinite;
    }
  }
}

@include breakpoint-min(sm) {

  .loading {


    &--spinner {
      width: 100px;
      height: 100px;
    }
  }
}

@keyframes spinner-spin {
  100% {
    transform: rotate(360deg);
  }
}
</style>
