<template>
  <div
    class="section"
    :class="{
      'section_active': step.active,
      'section_complete': step.complete,
      'background--light-grey': step.complete,
    }"
    :tabindex="step.complete ? '0' : ''"
    @keyup.enter="step.complete && revertStep(stepKey)"
    :ref="step.name"
  >
    <div
      class="section--header"
      @click="step.complete && revertStep(stepKey)"
    >
      <div
        class="section--tick color--primary"
        v-if="step.complete"
      ></div>
      <div
        class="section--title"
        v-if="step.complete"
      >
        <div
          class="section--title_summary bold"
          :title="step.summary[0]"
        >{{ step.summary[0] }}</div>
        <div
          class="section--title_summary"
          :title="step.summary[1]"
        >{{ step.summary[1] }}</div>
      </div>
      <h3
        class="section--title title"
        v-else
      >{{ step.title }}</h3>
      <div
        class="section--open title"
        v-if="step.complete"
      >+</div>
    </div>
    <div
      class="section--content"
      v-show="step.active"
    >
      <div class="section--description">{{ step.description }}</div>
      <slot></slot>
    </div>
  </div>
</template>

<script>
import { mapMutations } from 'vuex';
import smoothHeight from 'vue-smooth-height';

export default {
  name: 'Section',
  mixins: [smoothHeight],
  props: {
    step: {
      type: Object,
      required: true,
    },
    stepKey: {
      type: String,
      required: true,
    },
  },
  mounted() {
    this.$smoothElement({
      el: this.$refs[this.step.name],
    });
  },
  methods: {
    ...mapMutations('app', ['revertStep']),
    scrollToSection() {
      const widgetTop = this.$parent.$el.offsetTop;
      const sectionTop = this.$refs[this.step.name].offsetTop;
      const top = widgetTop + sectionTop;

      window.scroll({
        top,
        behavior: 'smooth',
      });
    },
  },
  computed: {
    stepActive() {
      return this.step.active;
    },
  },
  watch: {
    stepActive(isActive, wasActive) {
      if (wasActive || !isActive) return;
      setTimeout(() => {
        this.scrollToSection();
      }, 750);
    },
  },
};
</script>

<style lang="scss" scoped>
@import "../scss/variables.scss";
@import "../scss/mixins.scss";

.section {
  padding: 0 $widget--padding;
  border-bottom: 1px solid $color--light-grey;
  overflow: hidden;
  transition: all .45s;

  &_active {
    padding: $widget--padding;

    .section--header {
      height: auto;
    }
  }

  &_complete {
    cursor: pointer;
    border-color: #c4c4c4;
  }

  &--header {
    display: flex;
    align-items: center;
    height: 70px;
  }

  &--open {
    margin-left: auto;
  }

  &--tick {
    position: relative;
    flex: 0 0 $widget--padding;
    margin-right: $widget--padding;
    width: $widget--padding;
    height: $widget--padding;

    &:before {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -64%) rotate(45deg);
      content: '';
      box-sizing: border-box;
      width: $widget--padding / 2;
      height: $widget--padding;
      border-style: solid;
      border-width: 0 3px 3px 0;
      border-color: currentColor;
    }
  }

  &--title {
    min-width: 0;
    padding-right: 30px;

    &_summary {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }

  &--description {
    margin-bottom: 15px;
  }

  &--content {
    margin-top: 10px;
  }
}

@include breakpoint-min(sm) {

  .section {
    padding: 0 $widget--padding_sm;

    &_active {
      padding: $widget--padding_sm;
    }

    &--header {
      height: 85px;
    }

    &--description {
      margin-bottom: 30px;
    }

    &--tick {
      margin: 0 70px;
      flex: 0 0 $widget--padding_sm;
      margin: 0 $widget--padding_sm;
      width: $widget--padding_sm;
      height: $widget--padding_sm;

      &:before {
        width: $widget--padding_sm / 2;
        height: $widget--padding_sm;
        border-width: 0 6px 6px 0;
      }
    }
  }
};
</style>
