<template>
  <div class="date-options padded-container">
    <datepicker
      :disabledDates="disabledDates"
      :fullMonthName="true"
      :inline="true"
      :mondayFirst="true"
      minimumView="day"
      maximumView="day"
      @selected="setServiceDate"
    ></datepicker>
  </div>
</template>

<script>
import Datepicker from 'vuejs-datepicker';
import { mapState, mapMutations } from 'vuex';

export default {
  name: 'OptionsDate',
  components: {
    Datepicker,
  },
  methods: {
    ...mapMutations('services', ['setServiceDate']),
  },
  computed: {
    ...mapState('workshops', ['availableWorkshops', 'disabledWorkshops']),
    disabledDates() {
      return !this.disabledWorkshops.length ? {} : {
        to: new Date(this.availableWorkshops[0].WorkDate),
        from: new Date(this.availableWorkshops[this.availableWorkshops.length - 1].WorkDate),
        dates: this.disabledWorkshops.map(workshop => new Date(workshop.WorkDate)),
      };
    },
  },
};
</script>

<style lang="scss">
@import '../../scss/variables.scss';
@import '../../scss/mixins.scss';

.vdp-datepicker .vdp-datepicker__calendar {
  width: auto;
  border: none;
  color: #4d4d4d;

  header {
    margin-bottom: 10px;
    line-height: 45px;
    border: 1px solid $color--light-grey;
    @include clearfix;

    .prev {
      border-right: 1px solid $color--light-grey;
    }

    .next {
      border-left: 1px solid $color--light-grey;
    }
  }

  .cell {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    color: inherit;
    background: #ebebeb;
    border: 1px solid #fff;
    font-weight: bold;
    transition: all .3s;

    &:not(.blank):not(.disabled) {

      &.day,
      &.month,
      &.year {

        &:hover {
          border: 1px solid #fff;
          box-shadow: inset 1px 1px 0 0 $color--primary,
                      inset -1px -1px 0 0 $color--primary;
        }
      }

    }

    &.blank,
    &.disabled {
      opacity: .15;
      cursor: not-allowed;
    }

    &.day-header {
      height: 40px;
      background: transparent;
      font-size: inherit;
      color: inherit;
    }

    &.selected {
      color: #fff;
      background: $color--primary;
      border: 1px solid #fff;

      &:hover {
        background: $color--primary;
        border: 1px solid #fff;
      }
    }
  }

  .day__month_btn {
    font-weight: bold;
  }
}
</style>
