<template>
  <div class="options--container">
    <OptionsDate/>

    <div class="button-container">
      <button
        class="button button--secondary"
        @click="previousStep('OptionsSelect')"
      >Back to Service Selection</button>
      <button
        class="button"
        @click="checkStepState"
      >Next</button>
    </div>
  </div>
</template>

<script>
import { mapMutations, mapState } from 'vuex';
import dateFormatted from '@/functions/dateFormatted';
import OptionsDate from '@/components/options/OptionsDate';

export default {
  name: 'OptionsContainer',
  components: {
    OptionsDate,
  },
  methods: {
    ...mapMutations('app', ['previousStep', 'completeStep']),
    checkStepState() {
      if (!this.serviceDate) return;
      const date = dateFormatted('dd/MM/yyyy', new Date(this.serviceDate));
      this.completeStep({
        stepName: 'OptionsSelect',
        data: [
          'Date Selected',
          `${date} - please drop your car off in the morning`,
        ],
      });
    },
  },
  computed: {
    ...mapState('services', ['serviceDate']),
  },
};
</script>

<style lang="scss" scoped>
@import '../../scss/variables.scss';
@import '../../scss/mixins.scss';

.option {

  + .option {
    margin-top: $widget--padding;
  }

  &--title {
    margin-bottom: 10px;
    text-transform: none;
  }
}

@include breakpoint-min(sm) {

  .option {

    + .option {
      margin-top: $widget--padding_sm;
    }
  }
}

</style>
