<template>
  <div
    class="color--text"
    id="titan-service-plan-widget"
  >
    <div class="header">
      <h2 class="title">Book a Service</h2>
    </div>
    <Section
      v-if="!isComplete"
      v-for="step in steps"
      :key="step.name"
      :step="step"
      :stepKey="step.name"
    >
      <component
        :is="step.component"
        v-show="step.active"
      />
    </Section>
    <CompleteContainer v-if="isComplete"/>
    <LoadingSpinner/>
  </div>
</template>

<script>
import { mapState, mapMutations } from 'vuex';
import LoadingSpinner from '@/components/LoadingSpinner';
import Section from '@/components/Section';
import VehicleContainer from '@/components/vehicle/VehicleContainer';
import OptionsContainer from '@/components/options/OptionsContainer';
import ConfirmationContainer from '@/components/confirmation/ConfirmationContainer';
import ServiceContainer from '@/components/service/ServiceContainer';
import DetailsContainer from '@/components/details/DetailsContainer';

export default {
  name: 'App',
  components: {
    LoadingSpinner,
    Section,
    VehicleContainer,
    ServiceContainer,
    OptionsContainer,
    ConfirmationContainer,
    DetailsContainer,
  },
  props: {
    workshop: {
      type: Number,
      required: true,
    },
    serviceLeadTime: {
      type: Number,
      default: 90,
    },
  },
  created() {
    this.setWorkshopID(this.workshop);
    this.setServiceLeadTime(this.serviceLeadTime);
  },
  methods: {
    ...mapMutations('workshops', ['setWorkshopID', 'setServiceLeadTime']),
  },
  computed: {
    ...mapState('app', ['steps', 'isComplete']),
  },
};
</script>

<style lang="scss">
@import './scss/styles.scss';
</style>

<style scoped lang="scss">
@import './scss/variables.scss';
@import './scss/mixins.scss';

#titan-service-plan-widget {
  position: relative;
  margin: 0 auto;
  max-width: 1170px;
  background: #fff;
  line-height: 1.4;
  font-family: $font-family;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header {
  display: flex;
  align-items: center;
  padding: $widget--padding;
  color: #fff;
  background: $background--secondary;
}

@include breakpoint-min(sm) {

  #app {
    font-size: 16px;
  }

  .header {
    padding-right: $widget--padding_sm;
    padding-left: $widget--padding_sm;
  }
}
</style>
