.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: $widget--padding;
}

.button {
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  user-select: none;
  cursor: pointer;
  text-align: center;
  padding: 0 15px;
  line-height: 35px;
  font-weight: bold;
  font-size: 14px;
  color: $button--color;
  background: $button--background;
  border: none;
  transition: all .3s;

  &:hover {
    background: darken($button--background, 10%);
  }

  &--secondary {
    color: $widget--color;
    background: $widget--background;
    box-shadow: inset 1px 1px 0 0 currentColor,
                inset -1px -1px 0 0 currentColor; 

    &:hover {
      background: darken($widget--background, 5%);
    }
  }
}

@include breakpoint-min(sm) {

  .button-container {
    margin-top: $widget--padding-sm;

    .button {
      max-width: (100% / 3);
    }
  }

  .button {
    line-height: 50px;
    width: 100%;
  }
}