input,
select {

  &[type="text"],
  &[type="tel"],
  &[type="email"] {
    box-sizing: border-box;
    padding: 0 10px;
    height: 35px;
    line-height: 35px;
    border: none;
    background:  $color--light-grey;;
    font-family: $font-family;
    @include placeholder {
      font-size: inherit;
      text-transform: none;
    }
  }
}

@include breakpoint-min(sm) {

  input,
  select {

    &[type="text"],
    &[type="tel"],
    &[type="email"] {
      height: 50px;
      line-height: 50px;
    }
  }
}