.svg {

  &--brake-pad {

    .st0 {
      fill: none;
      stroke: currentColor;
      stroke-width: 2;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-miterlimit: 10;
    }
  
    .st1 {
      fill: currentColor;
    }
  }

  &--wiper,
  &--wipers-pair,
  &--service,
  &--oil-filter {

    .st0 {
      fill: currentColor;
    }
  }
}