.title {
  margin: 0;
  line-height: 1;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 22px;

  @include breakpoint-min(sm) {
    font-size: 28px;
  }
}

.bold {
  font-weight: bold;
}

.link {
  display: inline-block;
  cursor: pointer;
  text-decoration: underline;
  font-weight: bold;
  font-size: 14px;
}
