.color {

  &--text {
    color: #000;
  }

  &--primary {
    color: $color--primary;
  }

  &--danger {
    color: $color--danger;
  }

  &--light-grey {
    color: $color--light-grey;
  }
}

.background {

  &--primary {
    background: $color--primary;
  }

  &--light-grey {
    background: $color--light-grey;
  }
}

.padded-container {
  padding: $widget--padding;
  border: 1px solid $color--light-grey;

  @include breakpoint-min(sm) {
    padding: $widget--padding_sm;
  }

}