$color--primary               : #1c69d4;
$color--light-grey            : #dbdbdb;
$color--success               : #28a745;
$color--danger                : #dc3545;

$background--secondary        : #666;

$button--color                : #fff;
$button--background           : $color--primary;

$widget--color                : #000;
$widget--background           : #fff;

// ===================================== //

$widget--padding              : 20px;
$widget--padding_sm           : 40px;

// ===================================== //

$font-family                  : Arial, Helvetica, sans-serif;

// ===================================== //

$breakpoints: (
  'xs': 320px,
  'sm': 768px,
  'md': 980px,
  'lg': 1200px,
);